# Don't version control log files

# Directories to ignore
log/*
old/*
facts.d/*

# Files left behind by ansible
*.retry

# Files left behind by editors (vim, etc...)
*.swp

# Other stuff that should never go to GitHub

# Certificate Files
*.pem
*.key
*.crt
*.csr
*.pfx
