{{ '{' }}
	tagSets:
	{{ '{' }}
	    Application Group : [{{ application_group }}],
	    Environment : [{{ app_environment }}],
	    Location : [{{ location }}],
	    Platform Family : [{{ platform_family }}],
	    Policy : [{{ policy }}],
	    Primary Function : [{{ primary_function }}]
	{{ '}' }}
{{ '}' }}
